:root {

    --cta-primary: aqua;

    --debug: 1px solid red;
    --debug2: 1px solid blue;

    --estimate-height: 250px;
    --section-radius: 25px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    border: var(--debug);
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */

header {
    display: flex;
    position: relative;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
    font-family: var(--body-text);
    padding: 0 var(--side-padding);
    
}

header > * {
   /*border: 1px solid red;*/

    i {
        margin-right: 10px;
    }
}

#logo {
    margin-right: 3%;
    width: 15%;
}


nav {
    display: flex;
    width: 40%;

    ul {
        display: flex;
        flex-direction: row;
        width: 100%;

        li {
            list-style: none;
            width: 20%;
            cursor: pointer;

        }

        li:hover {
            text-decoration: underline;
        }
    }
}

#header-actions {
    display: flex;
    width: 40%;
    justify-content: flex-end;
    align-items: center;

    * {
        width: 20%;
        margin: 0 10px;
        cursor: pointer;

    }

    button {
        font-size: 0.875rem;
        padding: 10px;
        width: 28%;
        min-width: 125px;
        vertical-align: middle;
        border-radius: 8px;
        /*color: var(--font-color-primary);*/

    }
}


#menu-icon {
    display: none;
}


.cta-primary {
    background-color: var(--cta-primary);
    border: 2px solid var(--cta-primary);
    color: var(--white-smoke);

    background-repeat: no-repeat;
    background-position: -250px -250px;
    
   background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.2) 37%,
      rgba(255, 255, 255, 0.8) 45%,
      rgba(255, 255, 255, 0.0) 50%
    );
    /*background-image: linear-gradient(to right, red, green);*/
    
    background-size: 250% 250%, 50% 50%;
    
    transition: all .1s ease;

    cursor: pointer;
}

.cta-primary:hover {
    background-color: bisque;
}

/* Section: Hero */

#hero-content {
    border: var(--debug);
    background-color: lightblue;
    border-radius: var(--section-radius);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    position: relative;

    h1 {
        font-size: 4rem;
        width: 50%;
        min-width: 600px;
    }

    .header-decoration {
        font-size: 0.875rem;
        text-transform: uppercase;
    }

    .body-text {
        font-size: 1.2rem;
        margin-top: 20px;
    }

    #search-bar {
        display: flex;
        flex-direction: row;
        min-width: 700px;
        width: 80%;
        background-color: white;

        margin-top: 20px;

        form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
        }

        .select-box {
            position: relative;
            width: 30%;
            min-width: 185px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            border-right: 1px solid grey;
        }

        div.select-box:last-of-type {
            border-right: none;
        }

        i.decoration {
            font-size: 1.2rem;
            margin-right: 20px;
            background-color: lightpink;
            padding:3px;
            border-radius: 5px;
        }

        .select-btn {
            font-size: 1.2rem;
            background-color: white;
            border: none;
            padding: 10px 0;
            cursor: pointer;

            i {
                margin-left: 10px;
            }
        }

        .select-list {
            background-color: white;
            position: absolute;
            bottom: 40px;
            left: 0;
            height: 250px;
            width: 90%;
            border-radius: 15px;
            overflow-y: scroll;
            padding: 0 15px;
        }

       /* #location-select {
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 250px;
            width: 90%;
            border-radius: 15px;
            overflow-y: scroll;
        }*/

        .list-item {
            margin: 10px 0;
            cursor: pointer;
        }

        .list-item:hover {
            background-color: beige;
        }

        .hidden {
            display: none;
        }

        #check-counter {
            margin-left: 25px;
            font-size: 1rem;
            background-color: grey;
            color: white;
            border-radius: 50%;
            width: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            text-align: center;
            /*display: flex;
            justify-content: center;
            align-items: center;*/

        }

        .find-btn {
            margin-left: 30px;
            width: 25%;
            max-width: 250px;
            min-width: 150px;
            font-size: 1rem;
        }
    }

}

/* Estimate Container */

#service-estimate-container {
    border-radius: var(--section-radius);
    height: var(--estimate-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 90%;
    left: 5%;
    background-color: wheat;
    width: 90%;
    padding: 0 50px;

    #logo-wall {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 35px;
        border-bottom: 1px solid brown;
        padding-bottom: 30px;;
    }

    #estimate-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

/* Popular Services */

#popular-services {
    margin: var(--estimate-height) auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
        width: 100%;
    }

    #service-card-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .service-card {
        border: 1px solid darkslategray;
        width: 30%;
        margin: 10px;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        border-radius: 20px;
        cursor: pointer;
        transition: all .1s linear;


        img {
            width: 100%;
        }

        .service-details-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .service-title {
            font-size: 1.2rem;
            padding-left: 10px;
            margin-bottom: 20px;
            text-align: center;
        }

        .service-stats {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 0.75rem;
            width: 100%;
            height: 25%;

            .reviews {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-right: 1px solid lightgrey;
                width: 100%;

                .rating {
                    margin: 0 3px;
                }

                .review-count {
                    color: grey;
                }
            }

            .price {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }

    .service-card:hover {
        /*border: 4px solid;*/
        box-shadow: inset 0 0 0 2px darkslategray;
    }

    .service-card:active {
        transform: scale(0.95, 0.95);
    }
}

/* Meet Providers */

#meet-providers {
    background-color: lightcoral;
    border-radius: var(--section-radius);
    position: relative;

    .provider-heading {
        display: flex;
        flex-direction: column;
        align-items: center;

        * {
            margin: 5px 0;
        }

        h2 {
            font-size: 2.5rem;
        }
    }

    #provider-card-container {

        border: 1px solid magenta;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        position: sticky;
        top: 20px;

        .card-col {
            border: var(--debug);
            width: 30%;
        }

        .reverse {
            transition: .1s all linear;
            transform: translateY(250px);
            border: 1px solid magenta;
        }

        /*div.card-col:nth-child(even) {
           /* border: 3px solid magenta; 
            transform: translateY(50px);
        }*/

        .provider-card {
            border: 1px solid crimson;
            border-radius: 20px;
            background-color: white;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;

            img {
                height: 150px;
                width: 150px;
                border: 1px solid black;
                border-radius: 20px;
                align-self: last baseline;
            }

            .status {
                background-color: burlywood;
                border-radius: 30px;
                width: 25%;
                padding: 5px;
                margin: 25px 0;
                min-width: 100px;
                text-align: center;
                font-size: 0.875rem;
            }

            .provider-name {
                font-size: 1.5rem;
                margin-top: 15px;
                font-family: serif;
            }

            .provider-service {
                font-size: 1.5rem;
                color: grey;
                margin-bottom: 15px;
                font-family: serif;
            }

            .provider-location {
                margin-top: 15px;
            }
        }
    }

}

/*
            <section id="meet-providers">
            
                <h2>Find a provider that's right for you</h2>
                <p class="body-text">Some other blurb about finding a provider</p>
                <button type="button" class="cta-secondary">Find a Provider</button>
                <div id="provider-card-container">
                    <div class="provider-card">
                        <img src="https://doodleipsum.com/400/avatar?i=3533bd4fd20e8ae0528f2006722f958a" />
                        <span class="status">Available</span>
                        <p class="provider-name">Someone Someone</p>
                        <p class="provider-service">What they do</p>
                        <p class="provider-location">Where they are</p>
                    </div>
                </div>
            </section>
*/

/* Global */

.callout {
    font-family: serif;
    font-size: 1.6rem;
}

.cta-secondary {
    padding: 10px;
    font-size: 1rem;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}

.cta-secondary:hover {
    background-color: azure;
}

@media (max-width: 800px) {
    #hero-content {
        background-image: linear-gradient(to bottom, lightblue, white);

        h1 {
            font-size: 2rem;
        }

        .body-text {
            font-size: 1rem;
        }

        #search-bar {
            border: 1px solid grey;
            min-width: 400px;
            width: 40%;
            border-radius: 20px;
            padding: 10px;

            form {
                flex-direction: column;
            }

            .select-box {
                width: 100%;
                border-right: none;
                border-bottom: 1px solid grey;
                justify-content: flex-start;

                button {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }
            }
            
            .find-btn {
                margin-top: 10px;
                padding: 10px;
            }
        }
    }
}


@media (max-width: 650px) {

    header {
        nav {
            display: none;
        }

        #logo {
            width: 40%;
        }
    }

    #menu-icon {
        display: block;
        padding-left: 20px;
    }

}

@media (max-width: 575px) {
    #hero-content {

        padding: 0 10px;
        align-items: center;

        h1 {
            font-size: 1.5rem;
            width: 100%;
            min-width: 200px;
            margin-top: 5px;
        }

        .header-decoration {
            font-size: 0.75rem;
            width: 100%;
        }
        #search-bar {
            min-width: 300px;

            /*.select-list {
                border: var(--debug);
                height: 100vh;
                width: 100vw;
                margin-left: -55px;
                top: -265px;
                z-index: 10;
                border-radius: 0px;
            }*/


            #check-counter {
                width: 1.5rem;
                height: 1rem;
                font-size: 0.75rem;
                line-height: 1rem;
            }

            .find-btn {
                align-self: center;
                margin-left: 0;
            }
        }
    }

    #service-estimate-container {
        top: 98%;

        #logo-wall {
            padding-bottom: 10px;

            img {
                width: 10%;
            }
        }

        #estimate-text {
            flex-direction: column;

            button {
                margin-top: 20px;
            }
        }
    }

    .callout {
        font-size: 1.2rem;
    }
}